$button-yellow: #c99700;
$button-black: #1e1e1e;
$bg-main: #0b0b0b;
$bg-plans: #2a2a2a;
$text-primary: #eeeeee;
$text-secondary: #878787;

$font-bebas: 'Bebas Neue', sans-serif;

$linear-gradient-1: linear-gradient(90deg, rgba(201,151,0,1) 0%, rgba(99,75,0,1) 70%);
